[run]
source=q2_long_reads_qc_report
branch = True
omit =
    */tests*
    */__init__.py
    q2_long_reads_qc_report/_version.py
    versioneer.py

[report]
fail_under = 90
omit =
    */tests*
    */__init__.py
    q2_long_reads_qc_report/_version.py
    versioneer.py
